project_id= ""
team_id=""
apikey=""
okta_token="aWQiOiJUbW12eUNIN1JlN1JQemdpUzZfUVR5WDBlUW14YTNTdWJ2RFl4UmJKQS1rIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULjhrYThkOEoxQmxfXzFrNHNOako1ZGpMWkl0WURBa0E2UWJRUlY0OFdpZ0kiLCJpc3MiOiJodHRwczovL3BlcHNpY28ub2t0YXByZXZpZXcuY29tL29hdXRoMi9kZWZhdWx0IiwiYXVkIjoiYXBpOi8vZGVmYXVsdCIsImlhdCI6MTc1MTg2NjQ4NiwiZXhwIjoxNzUxODcwMDg2LCJjaWQiOiIwb2EyYzF6YzZkbmx0RTJWWDBoOCIsInNjcCI6WyJteUN1c3RvbSJdLCJzdWIiOiIwb2EyYzF6YzZkbmx0RTJWWDBoOCIsImVtYWlsIjoiIn0.pM2RuXtfDttCK65kkX0qpLAq3GE_Uo-y0sDXdbbd9Eq0e_jmWz-y64VWV9eMI2lPJUx1DYTqSnMk5aIx8jOQVtgcpFLI0uIV4xvZvo0-kRUmex7TpCsqnZW3ZY-1I4L-R7StCZwK4OBmQJqZrvsI9wd6hRWsuFeZBnhryDVhlURkOIOHzuGYVJ-5cCb9hjMxHPl6c-qWokidVgwH-BJhn5AWTdwotXciEITRkTWQKc3XrfOMs0ta5RrxZYNrSi5BqFpunGLVbdJN_Vykm3hjWw1kk7n_Du9AhKE7TlZtm6QAjR4BRgDqz87a_Ls684VmUIVkp1oy9m__aC4jv23HnQ"
api_url=""